.fc-right .fc-prev-button, .fc-right .fc-next-button{
  background-color: #b1d583;
  color: #a5b2f2;
}

.fc-button-primary {
  background-color: #b1d583;
  color: #a5b2f2;
}

.fc-weekends-button {
  background-color: #b1d583;
 color: #a5b2f2;
}


