$primary: #4b8b64;
$link-decoration: none;

$body-color: #123B49;
$headings-color: #123B49;


$font-family-sans-serif: 'Lato', 'Montserrat', Arial, "Noto Sans", "Liberation Sans", sans-serif;
$headings-font-family: 'Russo One', 'Montserrat', Arial, "Noto Sans", "Liberation Sans", sans-serif;
$headings-font-weight: 700;
