$primary: #4c4c4c;
$link-decoration: none;

$body-color: #4c4c4c;
$headings-color: #4c4c4c;


$font-family-sans-serif: 'Open Sans', 'Oswald', Arial, "Noto Sans", "Liberation Sans", sans-serif;
$headings-font-family: 'Open Sans', 'Oswald', Arial, "Noto Sans", "Liberation Sans", sans-serif;
$headings-font-weight: 700;
