$primary: #9abd00;
$link-decoration: none;

$body-color: #123B49;
$headings-color: #13075f;


$font-family-sans-serif: 'Montserrat', Arial, "Noto Sans", "Liberation Sans", sans-serif;
$headings-font-family: 'Montserrat', Arial, "Noto Sans", "Liberation Sans", sans-serif;
$headings-font-weight: 700;
