.fc-weekends-button .fc-button .fc-button-primary{
  color: green;
  background-color: red;
}

.fc-dayView-button{
  color: green;
  background-color: red;
  padding: 0;
}

.fc-button{
  color: green;
  background-color: red;
  padding: 0;
}

.fc-button-primary{
  color: green;
  background-color: red;
  padding: 0;
}
