.home-bg {
  background: url('../pages/pages/homePage/images/alicezilberberg_afterthenight3.jpg') left center/cover no-repeat,
    fixed;
  height: 100vh;
  position: relative;
  min-height: 440px;

  .home-bg-headers {
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 100px;
    width: 500px;
    height: 200px;
    border-radius: 5px;
  }

  h1,
  h2,
  h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #353535;
    padding-left: 30px;
  }
}

.home-stripe-under-bg {
  background-color: #5c494d;
  height: 150px;

  .home-button {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-align: center;
    background: rgba(244, 228, 186, 0);
    color: #f4e4ba;
    padding: 0.8rem 1.6rem;
    border: 1px solid #f4e4ba;
    border-radius: 5px;

    &:hover,
    &:active {
      color: #d2791e;
    }
  }
}

/* ========================================================== */
/* 		                       BODY-MIND-SOUL                   */
/* ========================================================== */
.home-description {
  position: relative;
  margin-top: 150px;

  .home-bg-header-secondary {
    background-color: rgba(92, 73, 77, 0.2);
    height: 150px;
    h2 {
      color: #5c494d;
      position: absolute;
      top: 50px;
      left: 50px;
    }
  }
}

.home-yoga-type {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  //align-items: center;

  .img-container {
    width: 200px;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;

    img {
      width: 100%;
      vertical-align: top;
    }
  }


  .button-body-mind-soul {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
    padding: 2rem 4rem;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
  }

  .home-stripe-body-mind-soul {
    height: 35px;
  }

  .home-yoga-type-body {
    .home-stripe-body-mind-soul {
      background-color: #18a38e;
    }
    .button-body-mind-soul {
      color: #18a38e;
      //border: 1px solid #18a38e;
      &:hover,
      &:active {
        color: #d2791e;
      }
    }
  }

  .home-yoga-type-mind {
    .home-stripe-body-mind-soul {
      background-color: #5c494d;
    }
    .button-body-mind-soul {
      color: #5c494d;
      //border: 1px solid #5c494d;
      &:hover,
      &:active {
        color: #d2791e;
      }
    }
  }

  .home-yoga-type-soul {
    .home-stripe-body-mind-soul {
      background-color: #375769;
    }
    .button-body-mind-soul {
      color: #375769;
      //border: 1px solid #375769;
      &:hover,
      &:active {
        color: #d2791e;
      }
    }
  }
}
/* ========================================================== */
/* 		         EDUCATION-INFORMATION-COMMUNITY                */
/* ========================================================== */

.blue-stripe{
  background-color: #375769;
  height: 150px;
}


@media screen and (min-width: 768px) {
  .home-bg {
    height: 100vh;
    background-position: 0 85%;

    .home-bg-headers {
      background-color: rgba(255, 255, 255, 0.4);
      position: absolute;
      top: 100px;
      left: 50px;
      width: 600px;
      height: 250px;
    }

    h1 {
      font-size: 3rem;
      padding-left: 50px;
    }

    h2 {
      font-size: 2rem;
    }
  }

  //.home-button {
  //  font-size: 1.2rem;
  //  padding: 0.9rem 2rem;
  //  border: 2px solid #f4e4ba;
  //}
}

.home-description {
  h2 {
    font-size: 2.5rem;
  }

}
