.home-bg {
  background: url('../pages/pages/homePage/images/alicezilberberg_afterthenight3.jpg') left center/cover no-repeat,
    fixed;
  height: 70vh;
  position: relative;
  min-height: 440px;

  .home-bg-headers {
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 20%;
    width: 420px;
    height: 190px;
    border-radius: 5px;

    h1,
    h2,
    h3 {
      font-family: 'Oswald', sans-serif;
      font-weight: 400;
      font-size: 2.1rem;
      color: #353535;
      padding-left: 15px;
    }
    animation: header-move 7s alternate;
  }
}

.home-stripe-under-bg {
  background-color: #5c494d;
  height: 170px;

  .home-button {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-align: center;
    background: rgba(244, 228, 186, 0);
    color: #f4e4ba;
    padding: 0.8rem 1.6rem;
    border: 1px solid #f4e4ba;
    border-radius: 5px;

    &:hover,
    &:active {
      color: #d2791e;
    }
  }
}

/* ========================================================== */
/* 		                       BODY-MIND-SOUL                   */
/* ========================================================== */
.home-description {
  margin-top: 80px;
  margin-bottom: 80px;
  .home-bg-header-secondary {
    background-color: rgba(92, 73, 77, 0.1);
    height: 100px;
    position: relative;
    h2 {
      font-family: 'Oswald', sans-serif;
      font-weight: 400;
      color: #5c494d;
      position: absolute;
      top: 30%;
      left: 5%;
    }
  }
}

.img-container {
  width: 414px;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-top: 25px;
  overflow: hidden;
  .img-body-mind-soul {
    width: 100%;
    vertical-align: top;

    &:hover {
      animation: flip-yoga-type 1s ease-out forwards;
    }
  }

  .home-stripe-body {
    height: 70px;
    background-color: #18a38e;
    position: relative;
  }

  .home-stripe-mind {
    height: 70px;
    background-color: #5c494d;
    position: relative;
  }

  .home-stripe-soul {
    height: 70px;
    background-color: #375769;
    position: relative;
  }

  .button-body-mind-soul {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
    transform: translate(-50%, -50%);
    transition-delay: 0.5s;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    &:hover,
    &:active {
      color: #d2791e;
    }
  }
}

/* ========================================================== */
/* 		         EDUCATION-INFORMATION-COMMUNITY                */
/* ========================================================== */

.blue-stripe {
  background-color: #375769;
  height: 150px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.home-bg-informational-block {
  background: url('../pages/pages/homePage/images/rishikesh2.jpg') left center/cover no-repeat, fixed;
  position: relative;
  height: 85vh;
  min-height: 500px;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.7);

  h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #464547;
  }
}

.green-stripe {
  background-color: #18a38e;
  height: 150px;
  margin-top: 80px;
  margin-bottom: 80px;
}

/* ========================================================== */
/* 		                          @media                        */
/* ========================================================== */

@media screen and (min-width: 768px) {
  .home-bg {
    height: 70vh;
    background-position: 0 85%;

    .home-bg-headers {
      width: 600px;
      height: 250px;
      left: 4%;

      h1 {
        font-size: 3rem;
        padding-left: 50px;
      }

      h2 {
        font-size: 2rem;
      }
    }
  }

  .home-stripe-under-bg {
    height: 150px;
  }

  .home-button {
    font-size: 1.2rem;
  }

  .home-description {
    .home-bg-header-secondary {
      height: 120px;
      h2 {
        font-size: 2.5rem;
      }
    }
  }

  .img-container {
    box-sizing: border-box;
    width: 320px;
  }
}

@keyframes flip-yoga-type {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(160deg);
  }
}

@keyframes header-move {
  0% {
    transform: translateX(0%);
    opacity: 0;
  }

  50% {
    transform: translateX(80%);
    opacity: 0.3;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
