.profile-header{
  background-color: #e9e8e8;
  padding: 2rem;
}
.student-description{
  margin: 2rem 0;
  background-color: rgba(55, 87, 105, 0.1);
  padding: 1rem 5rem;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);

  @media screen and (min-width: 955px) {
    margin: 2rem 12rem;
      }
  }

.teacher-description{
  margin: 2rem 0;
  background-color: rgba(92, 73, 77, 0.1);
  padding: 1rem 5rem;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);

  @media screen and (min-width: 955px) {
    margin: 2rem 12rem;
  }
}
