@import 'microrules';
@import 'overrides';
@import 'nprogress.css';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

// you must include each plugins' css
// paths prefixed with ~ signify node_modules
//@import '~@fullcalendar/core/main.css'; TODO найти правильный путь после обновления
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/timeline/main.css';
@import '~@fullcalendar/resource-timeline/main.css';

//@primary-color: #3f51b5;

.demo-app {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.demo-app-top {
  margin: 0 0 3em;
}

.demo-app-calendar {
  margin: 0 auto;
  max-width: 900px;
}

.site-name {
  font-weight: 700;
  line-height: 46px;
}

footer {
  color: #bfbfbf;
}

.list-group {
  display: flex;
  flex-direction: column;

  .list-group-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding-top: 1rem;
    padding-bottom: 1rem;

    &:last-child {
      border-bottom: none;
    }
  }
}

#top-menu {
  border-bottom: none;

  .item {
    margin-right: 5px;
    margin-top: 5px;
    padding: 1px 8px;

    &.active {
      display: inline;
      border-radius: 0.3em;
      background: #ebeef0;

      a {
        //color: $primary-color;
      }
    }

    a {
      color: #343a40;
    }
  }
}

.ant-table-middle {
  .ant-table-cell {
    padding: 10px !important;

    &.actions {
      text-align: right;
    }
  }

  .ant-table-thead {
    .ant-table-cell.actions {
      padding-right: 15px !important;
    }
  }
}

.ant-pagination {
  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link,
  .ant-pagination-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    height: 100%;
  }
}

.ant-menu.no-padding-tabs {
  .ant-menu-item {
    padding: 0;
    margin-right: 30px;

    .ant-badge {
      margin-left: 10px;
      margin-top: -2px;

      sup {
        background: #eaeaea;
        color: rgba(0, 0, 0, 0.85);
      }
    }
  }
}

a:not([href]) {
  color: #3f51b5;
}

.register-button {
  background-color: rgba(67, 83, 255, 0.1);
}

%gap {
  content: '';
  display: block;
}

.anchorTop {
  @extend %gap;
  margin-top: 1rem;
  margin-bottom: -3rem;
}

.anchor:before {
  @extend %gap;
  height: 3.6rem;
}

div.ant-anchor-link {
  padding: 7px;
  margin: 0 5px 7px 0;
}

.ant-badge sup {
  background-color: #eaeaea;
  color: rgba(0, 0, 0, 0.85);
}

span.ant-badge.ant-badge-not-a-wrapper {
  margin-top: -3px;
}

// Highlight left slide menu active item
.ant-anchor-link.ant-anchor-link-active {
  background: #ebeef0;
}

span.edit-pen-icon {
  color: #82817f;
}
